<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://kalifasadmindb.crguwkykhuor.sa-east-1.rds.amazonaws.com:3306/KalifasAdmin</property>
    <property name="hibernate.connection.username">lldearaujo</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.password">severino01</property>
    <mapping class="br.entidades.Cliente"/>
    <mapping class="br.entidades.Usuario"/>
    <mapping class="br.entidades.Produtos"/>
  </session-factory>
</hibernate-configuration>
